@import url(https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Nanum+Gothic:wght@400;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap);

@font-face {
    font-family: "Nuri";
    font-style: normal;
    font-weight: 400;
    src: local("Nuri"), local("NuriR"), url(/static/media/NuriR.237e36a3.ttf) format("truetype");
    src: local("Nuri"), local("NuriR"), url(/static/media/NuriR.97af103e.woff) format("woff")
}

@font-face {
    font-family: "Nuri";
    font-style: bold;
    font-weight: 600;
    src: local("Nuri"), local("NuriB"), url(/static/media/NuriB.9d7bc092.ttf) format("truetype");
    src: local("Nuri"), local("NuriB"), url(/static/media/NuriB.54fdd9b3.woff) format("woff")
}

body {
    padding: 0;
    margin: 0
}
h3, p {
    padding: 0;
    margin: 0
}

.storyChapter {
    margin: .5rem;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    border-top: 1px solid #bfbfbf
}

.storyChapter>div {
    margin-top: .5rem
}

.storyChapterTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem
}

.storyChapter h3 {
    font-size: 1.8rem;
    border-bottom: 3px solid #588c7e;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #588c7e;
    transition: color 1s ease-in
}

.storyChapter h3:hover {
    color: #000
}

.storyChapter p {
    margin-top: .5rem
}

.storyText {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    text-align: left;
    padding: 0 .3rem;
    max-width: 60%
}

.koreanText {
    font-family: "Nanum Gothic", sans-serif;
    padding-left: .2rem;
    padding-right: .2rem;
    display: block;
    line-height: 1.8
}

.koreanText .toolTip {
    color: #588c7e;
    text-decoration: underline;
}

.showEng {
    -webkit-animation: fade-in .2s ease-in forwards;
    animation: fade-in .2s ease-in forwards
}

.hideEng {
    font-size: .5rem !important;
    opacity: 0
}

.engText {
    color: #d96459;
    font-family: "Montserrat", sans-serif;
    padding-left: .2rem;
    padding-right: .2rem;
    line-height: 1.1
}

.regularFont {
    font-size: 1.3rem
}

.regularFont .engText {
    font-size: 1.1rem
}

/*--------------CARD--------------*/
.tooltip {
    display: inline-block;
    position: relative;
    transition: all .3s ease;
    text-decoration: underline;
    color: #588c7e;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #588c7e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333333 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
