@import url(https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Nanum+Gothic:wght@400;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap);

@font-face {
    font-family: "Nuri";
    font-style: normal;
    font-weight: 400;
    src: local("Nuri"), local("NuriR"), url(/static/media/NuriR.237e36a3.ttf) format("truetype");
    src: local("Nuri"), local("NuriR"), url(/static/media/NuriR.97af103e.woff) format("woff")
}

@font-face {
    font-family: "Nuri";
    font-style: bold;
    font-weight: 600;
    src: local("Nuri"), local("NuriB"), url(/static/media/NuriB.9d7bc092.ttf) format("truetype");
    src: local("Nuri"), local("NuriB"), url(/static/media/NuriB.54fdd9b3.woff) format("woff")
}

body {
    padding: 0;
    margin: 0
}

a,
body {
    font-family: "Montserrat", serif
}

a {
    text-decoration: none;
    color: inherit;
    transition: color .3s ease-in
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0
}

button {
    font-family: "Montserrat", sans-serif;
    transition: all .5s ease-in
}

#app {
    min-height: 100vh;
    position: relative
}

#app .lazyload-wrapper>div {
    -webkit-animation: fade-in-bottom .3s ease-in forwards;
    animation: fade-in-bottom .3s ease-in forwards
}

.loadingCenter {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #8c4646
}

.ellipsisAnim span {
    opacity: 0;
    -webkit-animation: ellipsis-dot 1s infinite;
    animation: ellipsis-dot 1s infinite
}

.ellipsisAnim span:first-child {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.ellipsisAnim span:nth-child(2) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.ellipsisAnim span:nth-child(3) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.greenButton {
    background-color: #588c7e;
    color: #fff;
    border-radius: 5px;
    padding: .8rem 1.4rem;
    border: none;
    margin: .2rem;
    cursor: pointer;
    font-size: 18px
}

.greenButton,
nav {
    font-family: "Montserrat"
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    margin: 0 auto;
    width: 75%
}

nav .logo img {
    height: 2rem
}

.mainNavButtons {
    display: flex;
    flex-direction: row
}

.navDropdown {
    position: relative
}

.navDropBtn {
    font-size: 18px;
    font-family: "Montserrat";
    transition: all .3s ease
}

.mobButton,
.navDropBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem 1rem
}

.mobButton {
    width: 11rem;
    border-radius: .3rem;
    border: none;
    background-color: #d96459;
    color: #fff;
    cursor: pointer;
    box-shadow: none;
    font-size: 1.25rem;
    margin: .5rem
}

.navDropBtn .navIcon {
    padding-left: 8px
}

.navDropdown:hover .navDropBtn {
    color: #8c4646
}

.navDropdown:hover .navIcon {
    -webkit-animation: grow 1s ease-in-out infinite alternate;
    animation: grow 1s ease-in-out infinite alternate
}

.navDropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: inherit;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1;
    text-align: center;
    width: 120%
}

.navDropdown-content a {
    color: #d86459;
    padding: .5rem;
    text-decoration: none;
    display: block;
    transition: background-color 1s, color 1s ease-in
}

.navDropdown-content a:hover {
    background-color: #8c4646;
    color: #fff
}

.navDropdown:hover .navDropdown-content {
    display: block
}

.headerTitle {
    text-align: center;
    color: #8c4646;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.6rem 0;
    padding: 0 .3rem
}

.headerTitle h1 {
    margin: 2rem 0;
    font-size: 3rem
}

.headerTitle h3,
.headerTitle p {
    font-size: 1.5rem
}

.headerTitle p {
    color: #d96459;
    text-align: center;
    margin: 2rem 0
}

footer {
    background-color: #000;
    margin-top: 2rem;
    width: 100%
}

.footerMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 1rem
}

.footerTop {
    padding: 3rem 0;
    width: 30%;
    text-align: left
}

.footerTop p {
    color: #fff;
    line-height: 1.5
}

.footerTop img {
    max-width: 15rem;
    margin-bottom: 1.5rem
}

.footerMid {
    padding: 3rem 0;
    width: 30%
}

.footerMid h1 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 1.5rem
}

.footerMid h2 {
    color: #fff;
    font-weight: 500;
    margin: 1rem 0
}

.footerRed {
    padding: 1rem;
    background-color: #f34c50;
    color: #fff
}

.about,
.footerRed {
    text-align: center
}

.about p {
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 2rem
}

.about button {
    font-size: 1.5rem;
    background-color: #588c7e;
    color: #fff;
    border-radius: .2em;
    padding: .5em;
    text-decoration: none;
    border: none;
    margin: .2rem;
    cursor: pointer
}

.resources {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.resourcesBox {
    margin: .5rem;
    padding: .5rem;
    width: 30%;
    color: #d96459
}

.resourcesSection {
    border: 1px solid #aee8ba;
    border-radius: .3rem;
    margin: .2rem;
    padding: .2rem
}

.resources h3 {
    color: #588c7e
}

.resources ul {
    padding: 0;
    margin: 0
}

.resources li {
    list-style-type: none;
    color: #000
}

.resources a:hover {
    color: #588c7e
}

.homeAbout,
.homeHeader {
    height: 660px;
    position: relative;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden
}

.homeHeaderBackground {
    background-image: url(/static/media/homeBack.744c7bdb.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1
}

.homeAboutLeft,
.landingLeft {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%
}

.homeAboutLeft h1,
.homeAboutLeft p,
.landingLeft h1,
.landingLeft h2,
.landingLeft p {
    font-family: "Montserrat"
}

.landingLeft h2 {
    color: #d96459;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 1rem
}

.homeAboutLeft h1,
.landingLeft h1 {
    font-weight: 700;
    font-size: 66px;
    line-height: 1
}

.landingLeft p {
    padding: 1.5rem 0;
    font-size: 18px;
    color: #8a8888
}

.landingLeft h2 span {
    color: #588c7e
}

.landingLeftText {
    position: relative
}

.appContainer,
.landingLeft button {
    position: absolute;
    z-index: 5
}

.appContainer {
    bottom: 10px
}

.appContainerStory {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center
}

.appContainer img,
.appContainerStory img {
    max-height: 3.5rem;
    cursor: pointer;
    margin-right: .5rem;
    margin-top: .5rem
}

.homeAboutRight,
.landingRight {
    width: 60%;
    height: 100%;
    position: relative
}

.landingRedCircle {
    background-color: #d96459;
    top: 50%;
    left: 10%
}

.landingBlueCircle,
.landingRedCircle {
    position: absolute;
    width: 41px;
    height: 39px;
    border-radius: 50%
}

.landingBlueCircle {
    background-color: #048ecb;
    top: 45%;
    right: 10%
}

.landingPurpleOuterBorder {
    border: 1px solid #000;
    position: absolute;
    width: 82px;
    height: 78px;
    border-radius: 50%;
    bottom: 10%;
    left: 0
}

.landingPurpleCircle {
    width: 105%;
    height: 102%;
    background-color: #7252a4;
    border-radius: 50%;
    margin-left: -5px
}

.landingYellowOuterBorder {
    position: absolute;
    width: 146px;
    height: 139px;
    border: 1px solid #000;
    border-radius: 50%;
    top: 10%;
    right: 20%
}

.landingYellowCircle {
    width: 105%;
    height: 105%;
    background-color: #ffd726;
    border-radius: 50%;
    margin-left: -10px
}

.landingRedGroup {
    position: absolute;
    width: 171px;
    height: 293px;
    top: 5%;
    left: 40%
}

.landingGreenGroup {
    position: absolute;
    width: 174px;
    height: 293px;
    bottom: 15%;
    right: 20%
}

.landingYellowGroup {
    position: absolute;
    width: 159px;
    height: 269px;
    bottom: 5%;
    left: 20%
}

.landingGreenImage {
    position: relative;
    width: 100%;
    height: 100%
}

.landingGreenImageBackground {
    position: absolute;
    top: 0;
    left: -5%;
    border-radius: 50%;
    background-color: #ffd726;
    width: 105%;
    height: 105%;
    z-index: 2;
    background-color: #588c7e
}

.landingGreenImageBorder {
    border-top-left-radius: 55%;
    border-top-right-radius: 55%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    top: -1%;
    left: 1%;
    border: 1px solid #000;
    z-index: 1;
    height: 100%;
    width: 100%
}

.landingRedImageBorder {
    left: 5%
}

.landingGreenImage img {
    z-index: 3;
    position: absolute;
    bottom: 0
}

.homeAbout {
    min-height: 50vh;
    background-color: #fff
}

.homeAboutLeft h1 {
    padding-top: 2rem;
    font-size: 45px;
    margin-bottom: 1rem
}

.homeAboutLeft p {
    font-size: 21px;
    color: #706e6e;
    line-height: 1.5;
    margin-bottom: 1.5rem
}

.homeAboutRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.homeAboutRight img {
    max-width: 100%
}

.homeBeginner {
    background-color: #588c7e;
    min-height: 80vh;
    position: relative;
    background-image: url(/static/media/whitePattern.189e4253.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0
}

.homeBeginner>h1 {
    color: #fff;
    text-align: center;
    font-size: 45px;
    padding-top: 5rem;
    margin-bottom: 1rem
}

.homeBeginner>p {
    font-size: 23px;
    color: #fff;
    text-align: center
}

.homeStoryScroll {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    overflow-x: auto;
    align-items: flex-start;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #d96459 #e0e0e0
}

.homeStoryItem {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    position: relative;
    background-color: transparent
}

.homeStoryItem:hover .homeStoryTitle {
    background-color: #d96459
}

.homeStoryItem:hover .homeStoryTitle h1,
.homeStoryItem:hover .homeStoryTitle p {
    color: #fff
}

.homeStoryImage {
    width: 100%;
    height: 12rem;
    text-align: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    position: absolute;
    bottom: 0;
    height: 100%
}

.homeStoryImage span {
    background-color: #c82333;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase
}

.homeStoryItemBorder {
    height: 100%;
    left: 5px;
    border: 1px solid #fff;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: .45rem;
    border-bottom-right-radius: .45rem;
    z-index: 0
}

.homeStoryItemBorder,
.homeStoryTitle {
    position: absolute;
    width: 100%;
    bottom: 0
}

.homeStoryTitle {
    left: 0;
    height: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .3s ease
}

.homeStoryTitle h1,
.homeStoryTitle p {
    text-align: center;
    font-family: "Montserrat";
    transition: all .3s ease
}

.homeStoryTitle h1 {
    font-size: 30px;
    margin-bottom: 1rem
}

.homeStoryTitle p {
    margin: unset;
    padding: unset;
    font-weight: 600;
    font-size: 20px
}

.homeIntermediate {
    background-color: #fff;
    background-image: none
}

.homeIntermediate h1,
.homeIntermediate p {
    color: #000
}

.homeIntermediate .homeStoryItemBorder {
    border: 1px solid #588c7e
}

.homeIntermediate .homeStoryTitle {
    background-color: #f6f6f6
}

.homeIntermediate .homeStoryScroll {
    scrollbar-color: #588c7e #e0e0e0
}

.homeContent {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start
}

.levelSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 90%
}

.levelSection h1 {
    color: #8c4646
}

.levelSection h1:hover {
    color: #588c7e
}

.levelSectionStory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: .3rem;
    margin: .3rem;
    color: #d96459;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: 1px solid #d96459;
    transition: background-color 1s ease-in;
    position: relative
}

.levelSectionStory p {
    margin: 0 auto;
    padding: .1rem
}

.levelSectionStory p span {
    font-family: "Nuri"
}

.levelSectionStory img {
    max-width: 5rem;
    border: 2px solid #588c7e
}

.levelSectionStory:hover {
    background-color: #d96459;
    color: #fff
}

.storyMain {
    display: flex;
    flex-direction: column;
    align-items: center
}

.storyImage {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    overflow: hidden
}

.storyImage img {
    width: 10rem;
    max-height: 15rem;
    border: 2px solid #588c7e;
    margin-bottom: 1.5rem
}

.storyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: pre-wrap;
    text-align: center;
    margin: 2rem 0;
    overflow: hidden
}

.moreStories {
    margin: 1rem
}

.moreStories button {
    font-size: 1.5rem;
    background-color: #588c7e;
    color: #fff;
    border-radius: .2em;
    padding: .5em;
    text-decoration: none;
    border: none;
    margin: .2rem;
    cursor: pointer
}

.moreStories button:hover {
    background-color: #aee8ba;
    color: #000
}

.storyChapter {
    margin: .5rem;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    border-top: 1px solid #bfbfbf
}

.storyChapter>div {
    margin-top: .5rem
}

.storyChapterTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem
}

.storyChapter h3 {
    font-size: 1.8rem;
    border-bottom: 3px solid #588c7e;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #588c7e;
    transition: color 1s ease-in
}

.storyChapter h3:hover {
    color: #000
}

.storyChapter p {
    margin-top: .5rem
}

.googleAdContainer {
    max-width: 90%;
    margin: 0 auto
}

.squareAdContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 3rem 1rem;
    width: 85%
}

.squareAd {
    max-width: 20rem
}

.storyText {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    text-align: left;
    padding: 0 .3rem;
    max-width: 60%
}

.koreanText {
    font-family: "Nanum Gothic", sans-serif;
    padding-left: .2rem;
    padding-right: .2rem;
    display: block;
    line-height: 1.4
}

.koreanText .toolTip {
    color: #588c7e
}

.tooltipWrapper {
    display: inline-block;
    position: relative;
    transition: all .3s ease;
    text-decoration: underline
}

.tooltipTip {
    position: absolute;
    border-radius: 4px;
    left: 25%;
    top: -25px;
    transform: translateX(-50%);
    padding: .5rem;
    color: #fff;
    background: #588c7e;
    font-size: 18px;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
    animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) both;
    -webkit-animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) both
}

.showEng {
    -webkit-animation: fade-in .2s ease-in forwards;
    animation: fade-in .2s ease-in forwards
}

.hideEng {
    font-size: .5rem !important;
    opacity: 0
}

.engText {
    color: #d96459;
    font-family: "Montserrat", sans-serif;
    padding-left: .2rem;
    padding-right: .2rem;
    line-height: 1.1
}

.storyLearning {
    display: flex;
    flex-direction: column;
    width: 35%
}

.storyLearning h4 {
    font-size: 1.5rem;
    -webkit-text-decoration-line: underline overline;
    text-decoration-line: underline overline
}

.storyLearning>div {
    margin-top: .5rem;
    border-radius: .3rem;
    padding: .5rem
}

.vocabList {
    margin: .5rem;
    border: 3px solid #dcf1ec
}

.vocabList p {
    text-transform: capitalize;
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0
}

.vocabList p span {
    font-family: "Nanum Gothic", sans-serif
}

.vocabList h4 {
    color: #588c7e
}

.cultureNote {
    border: 3px solid #dcf1ec
}

.cultureNote h4 {
    color: #588c7e
}

.grammarTip {
    margin: .5rem;
    border: 3px solid #fff1e6
}

.grammarTip h4,
.grammarTip span {
    color: #d96459
}

.grammarTip .koreanText {
    color: #588c7e
}

.grammarTip button {
    font-size: 1rem;
    background-color: #d96459;
    color: #fff;
    border-radius: .2em;
    padding: .5em;
    text-decoration: none;
    border: none
}

.grammarTip button:hover {
    background-color: #8c4646;
    color: #fff
}

.grammarTip p {
    text-align: left
}

.showEnglishContainer {
    width: 100%;
    overflow: hidden;
    bottom: 2%;
    position: fixed;
    display: flex;
    flex-direction: column
}

.showEngDirections {
    text-align: center;
    -webkit-animation: wobble 4s both;
    animation: wobble 4s both
}

.showEnglishBtn {
    border: none;
    border-radius: .3rem;
    background-color: #c82333;
    color: #fff;
    text-shadow: 1px 1px #8c4646;
    padding: 1rem;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.5rem
}

.showEnglishBtn:hover {
    background-color: #8c4646;
    -webkit-animation: grow 1s ease-in-out infinite alternate;
    animation: grow 1s ease-in-out infinite alternate
}

.storyQuiz {
    display: flex;
    flex-direction: column;
    border: 3px solid #dcf1ec;
    border-radius: .3rem;
    padding: 1rem .5rem;
    margin: .5rem
}

.storyQuiz h2 {
    color: #588c7e;
    text-decoration: underline
}

.storyQuiz h3 {
    color: #c82333;
    margin: .8rem 0
}

.storyQuiz label {
    display: block;
    text-align: left;
    padding: .3rem
}

.fontAdjust {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #588c7e;
    margin: .5rem
}

.fontAdjust p {
    width: 100%;
    text-align: center
}

.fontAdjust button {
    font-size: 1rem;
    background-color: #d96459;
    color: #fff;
    border-radius: .2em;
    padding: .5em;
    text-decoration: none;
    border: none;
    margin: .2rem
}

.fontAdjust button:hover {
    background-color: #8c4646;
    color: #fff
}

.regularFont {
    font-size: 1.3rem
}

.regularFont .engText {
    font-size: 1.1rem
}

.largeFont {
    font-size: x-large
}

.largeFont .engText {
    font-size: large
}

.xLargeFont {
    font-size: xx-large
}

.xLargeFont .engText {
    font-size: x-large
}

.wordModal {
    border: 3px solid #c82333;
    position: fixed;
    background: #fff;
    min-width: 50%;
    max-width: 95%;
    min-height: 10rem;
    max-height: 90vh;
    margin-top: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: .5rem;
    padding: 2rem;
    overflow: auto;
    -webkit-animation: slide-in-top 1s ease forwards;
    animation: slide-in-top 1s ease forwards;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: thin
}

.wordModal h2,
.wordModal h3 {
    margin: .5rem 0
}

.wordModal ol {
    padding: .2rem;
    margin: 0
}

.wordModal ol li .koreanText {
    display: unset
}

.popup-overlay {
    background-color: rgba(0, 0, 0, .3)
}

.selectedWord {
    color: #c82333
}

.newTip {
    background-color: #588c7e;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
    color: #fff;
    font-size: 1.5rem;
    margin: 2rem 1rem;
    text-align: center
}

.modal {
    position: relative
}

.closePopup {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 3rem;
    color: #c82333;
    cursor: pointer
}

.readingProgram {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    max-width: 20rem
}

.readingProgram img {
    max-width: 100%
}

.storyTag {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #d86459;
    color: #fff;
    padding: 5px 10px;
    border-radius: .4rem;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
    font-weight: 700
}

.paypalContainer,
.paypalContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem 1rem
}

.paypalContainer p {
    margin: .5rem
}

.paypalContainer input {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    border-radius: .5rem;
    margin: .3rem
}

.thankYouModal {
    border: 3px solid #c82333;
    position: fixed;
    background: #fff;
    margin-top: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: .5rem;
    padding: 2rem;
    overflow: auto;
    -webkit-animation: slide-in-top 1s ease forwards;
    animation: slide-in-top 1s ease forwards;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: thin
}

@media (max-width:900px) {
    .storyChapter {
        padding: 0
    }

    .storyText {
        font-size: 1.2rem;
        flex-direction: column;
        width: 65%
    }
}

@media (max-width:850px) {

    .modal img,
    .readingProgram img {
        max-width: 95%
    }

    .homeStoryScroll {
        scrollbar-width: auto
    }

    .homeStoryItem {
        width: 17rem
    }

    .footerMid,
    .footerTop,
    .homeStoryScroll {
        width: 100%
    }

    .homeHeader {
        height: 200vh
    }

    .homeAboutLeft,
    .homeAboutRight,
    .landingLeft,
    .landingRight {
        width: 100%;
        height: unset
    }

    .homeAboutLeft,
    .landingLeft {
        padding: 0 1rem
    }

    .landingLeft {
        margin-top: 2rem;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        justify-content: flex-start
    }

    .landingRight {
        height: 50%
    }

    .landingGreenGroup {
        display: none
    }

    .landingRedGroup {
        left: 0
    }

    .landingYellowOuterBorder {
        left: unset;
        right: 0;
        top: -10%
    }

    .landingYellowGroup {
        left: unset;
        right: 0
    }

    nav {
        justify-content: space-between;
        padding: .3rem;
        width: 95%
    }

    .navBurger {
        font-size: 2rem;
        color: #d96459
    }

    #visibleSideMenu {
        background-color: #fff;
        width: 50%;
        text-transform: uppercase;
        padding: 0;
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        visibility: visible;
        -webkit-animation: slidein 1s;
        animation: slidein 1s;
        height: 50vh;
        display: flex;
        flex-direction: column
    }

    #visibleSideMenu,
    .visibleCloseMenu {
        border: 1px solid #d96459;
        color: #d96459;
        text-align: center
    }

    .visibleCloseMenu {
        font-size: small;
        margin: .5rem;
        display: block;
        border-radius: .5rem;
        cursor: pointer
    }

    #visibleSideMenu .mainNavButtons {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center
    }

    .navDropdown {
        margin-left: 0
    }

    .storyLearning {
        max-width: 100%
    }

    .resourcesBox {
        border: 2px solid #d96459;
        border-radius: .3rem;
        margin: .5rem;
        padding: .5rem;
        width: 100%;
        color: #d96459
    }

    .levelSectionStory {
        flex-direction: column;
        justify-content: center
    }

    .storyText {
        font-size: 1.2rem;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%
    }

    .storyLearning {
        width: 100%
    }
}

@-webkit-keyframes slidein {
    0% {
        top: 0;
        left: -350px
    }

    to {
        top: 0;
        left: 0
    }
}

@keyframes slidein {
    0% {
        top: 0;
        left: -350px
    }

    to {
        top: 0;
        left: 0
    }
}

@-webkit-keyframes grow {
    0% {
        transform: scale(.8)
    }

    to {
        transform: scale(1.3)
    }
}

@keyframes grow {
    0% {
        transform: scale(.8)
    }

    to {
        transform: scale(1.3)
    }
}

@-webkit-keyframes wobble {
    0% {
        transform: translateX(0);
        transform-origin: 50% 50%
    }

    15% {
        transform: translateX(-30px) rotate(-6deg)
    }

    30% {
        transform: translateX(15px) rotate(6deg)
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg)
    }

    60% {
        transform: translateX(9px) rotate(2.4deg)
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
        opacity: .9
    }

    to {
        transform: translateX(0);
        transform-origin: 50% 50%;
        opacity: 0
    }
}

@keyframes wobble {
    0% {
        transform: translateX(0);
        transform-origin: 50% 50%
    }

    15% {
        transform: translateX(-30px) rotate(-6deg)
    }

    30% {
        transform: translateX(15px) rotate(6deg)
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg)
    }

    60% {
        transform: translateX(9px) rotate(2.4deg)
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
        opacity: .9
    }

    to {
        transform: translateX(0);
        transform-origin: 50% 50%;
        opacity: 0
    }
}

@-webkit-keyframes ellipsis-dot {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes ellipsis-dot {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes fade-in {
    0% {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        opacity: 0
    }

    to {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        opacity: 0
    }

    to {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@-webkit-keyframes fade-in-bottom {
    0% {
        transform: translateY(25px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(25px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}
